langchain==0.1.16
ipykernel
langchain_community
pypdf
beautifulsoup4
langchain-text-splitters
lxml
langchain-openai
python-dotenv
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
arxiv
wikipedia
langchainhub
duckduckgo-search